# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
server

# C/C++
*.o
*.a
clib/*.so
clib/*.dylib
clib/*.dll
clib/build/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

#config files
config.yaml
